.foot{
    background-color: #0b192c; 
    padding: 20px 0;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px; 
}
.links{
    display:flex;
    gap:20px;
}
.links a{
    text-decoration: none;
    color: #64748b;
}
.links a:hover{
    color: #2563eb; /* Optional: blue on hover */
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.footer-logo{
    flex:1;
    display: flex;
    align-items: center;
}


.social-links {
    display: flex;
    gap: 20px;
}
.in-between{
    width: 100%;
    border: 0;
    margin: 20px 0;
    border-top:1px solid #334155;
}
